# Data Science Tools and Ecosystem

###In this notebook, Data Science Tools and Ecosystem are summarized


*List popular langauges data scientists use
*List common libraries used
*Basic python code

####Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C/C++
6. julia

###Some of the commonly used libraries used by Data Scientists are:
####python:
1. pandda,Numpy (for scientific computing)
2. Matplotlib,Seaborn (graphs,plots)
3. Keras,Sekit-learn (machine learning)
4. Tensorflow, PyTorch (deep learning)


####R:
1. dblyr (data manipulation)
2. stingr(string manipulation)
3. ggplot(data visualisation)
4. caret (machine learning)

#####Data Science Tools
| Data Science Tools |
|--------------------|
|       APACHE       |
|    MongoDB         |
| Scikit-learn       |
| Watson Studio      |
| IBM DB 2           |
| Spyder

#####Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
a=5 
b=10
z=9*a+10*b
print(z)
y=9+a
print(y)

In [1]:
###this a simple arithmetic expression to mutiply then add integers.

z=(3*4)+5
print(z)

17

In [2]:
###This will convert 200 minutes to hours by diving by 60
minutes=200
hour=minutes/60
print(hour)

3.3333333333333335

##AUTHOR: 
Mairah Nisar